<div *ngFor="let book of books(); let i = index ">
  <h2 class="homeTitel"><a [routerLink]="['/app-book-ditail', book.id]">{{ book.title }}</a></h2>
  <li class="mobile-flex">
    <!--Container to control image size and reuse the component-->
    <div class="homeImage">
      <app-image-switch [image]="book.image"></app-image-switch>
    </div>
    <div class="homeInformation">
      <h3>Förfatare:<br>{{ book.author }}</h3>
      <h3>Publiserings år:<br>{{ book.published }}</h3>
    </div>
    <div class="descriptionContainer">
      <!-- Container for collapsible description -->
      <div class="homeDescription" [class.expanded]="textExpend(i)" [class.clamped]="!textExpend(i)">
        <p class="text-block">{{ book.description }}</p>
      </div>
      <button class="homePageButton" (click)="discriptionBook(i)">
        <!-- Changes text based on expansion state -->
        {{ textExpend(i) ? "Visa mindre..." : "Visa mer..." }}
      </button>
    </div>
  </li>
</div>