<div class="footer">
  <div class="footerText">
    <p>
      Hemsidan "Mitt bibliotek" utveklat och<br />
      underhålet av Beatrice Lydh.
    </p>
    <p>Sidan är utvecklad för lärande syfte.</p>
  </div>
  <div class="footerLink">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><app-latest-book btClass="footer"></app-latest-book></li>
      <li><a routerLink="app-book-list-page">Bok lista</a></li>
      <li><a routerLink="app-about-me">Om mig</a></li>
      <li><a routerLink="/add-book">Addera Bok</a></li>
    </ul>
  </div>
</div>